<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: blue;">
    <center>
        <h1 style="color:brown">jesus</h1>
        <a href="{% url 'app1:Sample2' %}">NAVIGATE TO SAMPLE2 PAGE</a>
        <p>Django is a free and open-source, Python-based web framework that follows the 
            model–template–views architectural pattern. It is maintained by the Django Software Foundation, 
            an independent organization established in the US as a 501 non-profit</p>
    </center>
</body>
</html>